.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

body {
    overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*Main section*/

.banner_part {
    background-image: url('./images/dub_bg.jpg');
    height: 100vh;
    position: relative;
    background-image: url(/static/media/dub_bg.a5d651bf.jpg);
    background-repeat: no-repeat;
    z-index: 2;
    background-color: #ababab;
    background-position: 51%;
    background-size: cover;
    background-blend-mode: multiply;
    text-align: left;
}

.banner_part .banner_text .banner_text_iner {
    display: table-cell;
    vertical-align: middle;
}

.banner_part .banner_text h1 {
    font-size: 80px;
    font-weight: 400;
    line-height: 96px;
    color: #fff;
}

.banner_part .banner_text {
    display: table;
    width: 100%;
    height: 100vh;
    padding-top: 40px;
}


/*Header Components*/

.menu_fixed {
    position: sticky;
    z-index: 9999 !important;
    width: 20%;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
    top: 0;
    background-color: #982f2f;
    height: 100vh;
    float: left;
}

.logo {
    width: 60px;
    background: #fff;
}

.main_menu .social_icon a {
    color: #fff;
    margin-left: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
}

.navbar-nav .nav-link:hover {
    color: #fff !important;
}

section img.dub_bg {
    vertical-align: middle;
    border-style: none;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 100vh;
}

section {
    float: left;
    width: 80%;
}

.banner_text_iner p {
    color: #fff;
    text-align: left;
    font-size: 2em;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    position: absolute;
    top: 185px;
    left: 43%;
}